@import url('https://fonts.cdnfonts.com/css/cooper-black');

body {
    height: 100vh;
    margin: 0;
    background-color: #F6F1E7;
    font-family: 'Cooper Black', sans-serif;
                                                
}

h1 {
    display: flex;
    justify-content: center;
}

.sketch-pad {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer, .sketch-pad-frame {
    border: 2px solid #D8C4A3;
}

.container {
    background-color: white;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: #ddd solid 0.5px;
    background-color: white;
    box-sizing: border-box;
}

.sketch-pad-frame, .controls, .controls-frame {
    border-radius: 20px;
}

.sketch-pad-frame {
    padding: 30px;
    background-color: #EAD7B7;
    box-shadow: 10px 10px #CFC7BC;
}

.controls {
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    background-color: #F6F1E7;
    padding: 20px;
    border: #C94A2D solid 2px;
}

.controls-frame {
    padding: 20px;
    background-color: #E4572E;
    box-shadow: 10px 10px #CFC7BC;
    border: #C94A2D solid 2px;
    min-width: 300px;
}

.squares-per-side {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.submit /* and maybe other buttons too */ {
    background-color: #E4572E;
    color: white;
    border: #C94A2D solid 2px;
    font-family: "Nunito", sans-serif;
    padding: 5px 10px;
    border-radius: 7.5px;
    font-weight: 700;
}

.number {
    border: #C9B8A1 solid 2px;
    border-radius: 7.5px;
    width: 75px;
    height: 26px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="number"] {
    font-family: "Nunito", sans-serif;
    color: #7A6A5A;
    font-size: 16px;
    font-weight: 600;
}

input[type="number"]:focus {
    outline: none;
}

/* Safari, Chrome, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}