@import url('https://fonts.cdnfonts.com/css/cooper-black');

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F1E7;
    font-family: 'Cooper Black', sans-serif;
                                                
}

.sketch-pad {
    display: flex;
    align-items: center;
}

.outer, .sketch-pad-frame {
    border: 2px solid #D8C4A3;
}

.container {
    background-color: white;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: #ddd solid 0.5px;
    background-color: white;
    box-sizing: border-box;
}

.sketch-pad-frame {
    padding: 30px;
    background-color: #EAD7B7;
    border-radius: 20px;
    box-shadow: 10px 10px #CFC7BC;
}

.controls {
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}