body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EEF2F7;
}

.container {
    background-color: aquamarine;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: #ddd solid 0.5px;
    background-color: white;
    box-sizing: border-box;
}